.main {
  height: 100%;
}

.main,
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.section__title {
  font-size: 3rem;
  @media screen and (max-width: 600px) {
    font-size: 2rem;
  }
}

.section__subtitle {
  font-size: 2rem;
  @media screen and (max-width: 600px) {
    font-size: 1.5rem;
  }
}

.section__link {
  -webkit-tap-highlight-color: transparent;
  transition: color 0.5s;
  color: var(--link-text);
  text-decoration: none;
}

.section__link:hover {
  color: var(--link-text-hover);
  text-decoration: underline;
}

.section__link:checked {
  text-decoration: line-through;
}
