:root {
  --background: #f1f1f1;
  --text: #1e1e1e;
  --link-text: #044fd0;
  --link-hover: #1e1e1e;
  --divider: #ccc;
  --nav-bg: #f1f1f1;
  --nav-text: #1e1e1e;
  --nav-divider: #ccc;

  @media screen and (prefers-color-scheme: dark) {
    --background: #1e1e1e;
    --text: #f1f1f1;
    --link-text: #94bbff;
    --link-hover: #f1f1f1;
    --divider: #333;
    --nav-bg: #1e1e1e;
    --nav-text: #f1f1f1;
    --nav-divider: #333;
  }
}
